@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
        to top,
        rgba(143, 68, 204, 0.42) 0%,
        rgba(240, 156, 216, 0.42) 100%
    );
    height: 100vh;
    margin: 0;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Dancing Script", cursive;
    height: 100vh;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.app-title {
    font-weight: 700;
    text-align: center;
    color: #ec407a;
    font-size: 4rem;
    margin: 0;
    padding: 3rem 0;
}

#clock-box {
    display: flex;
    justify-content: center;
}

.clocks {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to top, #6d44cc5d 0%, #f09cd880 100%);
    padding: 1rem 1rem;
    font-size: 1.4rem;
    border-radius: 10rem;
}

.clocks date,
time {
    display: block;
}

.clocks date {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    padding-bottom: 8px;
}

.clocks time {
    line-height: 1.2rem;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.2rem;
}

#info {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

#infor .info-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-card p {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding-top: 1rem;
}

.avt {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    animation: spin 12s linear infinite;
}

.avt-boy {
    animation-direction: reverse;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

#heart {
    display: flex;
    flex-direction: column;
    color: #b90d46;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin: 0 20px;
}

#heart .heart-icon {
    animation: heartbeat 4s linear infinite;
    margin-bottom: 2rem;
    font-size: 4.5rem;
}

@keyframes heartbeat {
    0% {
        transform: scale(0.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.75);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(0.75);
    }
}

anni {
    letter-spacing: 0.2px;
    font-weight: 700;
}

/* music player */
.music-player-wrapper {
    display: flex;
    max-width: 40%;
    margin: 150px auto 0 auto;
}

.music-container {
    background-color: #fff;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    z-index: 10;
}

.img-container {
    position: relative;
    width: 110px;
}

.img-container::after {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 70%;
    width: 20px;
    height: 20px;
    transform: translate(-80%, 50%);
}

.img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;

    animation-play-state: paused;
}

.music-container.play .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
}

.action-btn {
    background-color: #fff;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn.action-btn-big {
    color: #cdc2d0;
    font-size: 30px;
}

.action-btn:focus {
    outline: 0;
}

.music-info {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.music-info h4 {
    margin: 0;
    font-size: 1.5rem;
}

.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

/* footer */
.footer-wrapper {
    margin-top: 3rem;
}
.footer {
    text-align: center;
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin: 0;
}
